<footer class="footer">
    <div class="text-white text-center container-fluid bg-body-tertiary" data-bs-theme="dark">
        <span class="navbar-text fs-5 ">copyright &copy; 2024</span>
    </div>
</footer>
</body>

</html>