.navbar, footer{
    font-family: "Noto Sans Sundanese", sans-serif;
}

.footer{
    width: 100%;
    position:fixed;
    bottom: 0;
}

textarea{
    resize: none;
}

.search-area{
    height: 2.2rem;
}

.nav-item{
    margin-left: 2rem;
}